.shimmer-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding:35px;
    margin: 10px 50PX;
}

.shimmer-card {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    background: linear-gradient(
        -90deg,
        #f0f0f0 0%,
        #e2e2e2 50%,
        #f0f0f0 100%
    );
    background-size: 400% 400%;
    animation: shimmer 1.2s ease-in-out infinite;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
